
# cle generee  depuis le terminal avec la commande:openssl rand -base64 32 | tr -d '=' | tr '/+' '_-'

server:
  port: ${SERVER_PORT:9000}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/careflow}
    username: ${SPRING_DATASOURCE_USERNAME:careflow_user}
    password: ${SPRING_DATASOURCE_PASSWORD:careflow_pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:none}
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

  logging:
    level:
      root: INFO
      org.springframework.web: DEBUG
      org.hibernate.SQL: DEBUG
      org.school.careflow.exception: DEBUG

  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:true}
    baseline-on-migrate: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

jwt:
  secret: ${JWT_SECRET:Mubsc4s3eqjrK2FSN3nLRlGZOeu6FYqVlD9kSDCTFZY}
  expiration: ${JWT_EXPIRATION:3600000}
